<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教务系统-班级管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <div class="layout-container">
        <div class="left-container">
            <ul style="padding-top: 50px;">
                {% for cla in menu %}
                <li>
                    <a href="/{{cla.url}}">{{cla.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right-container">
            <div class="layout-header">
                <a  href="/login" class="btn btn-primary">退出</a>
            </div>
            <div class="layout-body">
                内容部分
            </div>
        </div>
    </div>
</body>

</html>