<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>教务系统-学生管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/home.css">
</head>

<body>
  <div class="layout-container">
    <div class="left-container">
      <ul style="padding-top: 50px;">
        {% for cla in menu %}
        <li>
          <a href="/{{cla.url}}">{{cla.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="right-container">
      <div class="layout-header">
        <a href="/login" class="btn btn-primary">退出</a>
      </div>
      <div class="layout-body">
        <div class="layout-body">
          <div class="panel panel-default">
            <div class="panel-body">
              学生管理
            </div>
            <div class="panel-body">
              <form action="/stu_manage_handle/{{'add' if type=='add' else 'edit'}}" method="post">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-group">
                  <label for="exampleInputEmail1">学生名</label>
                  <input type="text" name='stu_name' value="{{stu_name}}" class="form-control" placeholder="学生名">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">性别</label>
                  <select class="form-control" id='gender' name='gender'>
                    <option value="男">男</option>
                    <option value="女">女</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">班级</label>
                  <select class="form-control" id='class_code' name='class_code'>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">身高</label>
                  <input type="number" name='height' value="{{stu_name}}" class="form-control" placeholder="学生名">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">年龄</label>
                  <input type="number" name='age' value="{{stu_name}}" class="form-control" placeholder="学生名">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">体重</label>
                  <input type="number" name='weight' value="{{stu_name}}" class="form-control" placeholder="学生名">
                </div>
                <div>
                  {% for message in get_flashed_messages() %}
                  <span style="color: red">{{message}}</span>
                  {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">{{ "新增" if type=="add" else "编辑"}}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var code = location.search.replace(/.*&code=(\d)/, '$1')
    document.getElementById("class_code").options[code].selected = true
  </script>
</body>

</html>